doctype html
html(ng-app="portalRender", ng-controller="SiteCtrl")
  head
    title(ng-bind="Site.title")
    link(rel='stylesheet', type="text/css", href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body

    script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")

